$color-darkblue: #2da0e9;
$color-paleblue: #5b9ccc;
$color-pastelblue: #5cc7ff;
$color-dirtyblue: #428ec4;
$color-lightblue: #2b80b7;
$color-blue: #1a76b2;
$color-orange: #fd935c;
$color-white: #FFF;
$color-bone: #f6f6f8;
$color-grey: #808080;
$color-green: #8fc35c;
$color-red: #e86463;
