.options{
  margin-top: $gap-medium;
  padding: $gap-min;

  div{
    display: inline-block;
    font-family: 'NovaRegular';
    font-weight: bold;
    margin-right: $gap-medium;
    text-transform: uppercase;

    &:last-child{
      margin-right: 0; 
    }

    &.selected{
      color: $color-orange;
    }
  }
}
